# Lingkungan virtual
.venv/
venv/
ENV/
env/
path/
*.egg-info/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd
node_modules/
.wrangler/
/package-lock.json

# File sistem operasi
.DS_Store
Thumbs.db

# Konfigurasi IDE
.vscode/
.idea/